@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: Pretendard;
}
body {
  position: relative;
  width: 100%;
  height: 100%;
  background: transparent;
  font-family: Pretendard;
}

/* body::-webkit-scrollbar {
  width: 15px;
}
body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border: 4px solid #000;
}
body::-webkit-scrollbar-track {
  padding: 0 4px;
  background-color: #ddd !important;
} */
:root {
  --black00: #242730;
  --black2d: #2d2d2d;
  --black19: #19202D;
  --navy05: #051277;
  --blue00: #001DFF;
  --orangeff: #FF4E13;
  --orangeffd: #FFDDD1;
  --gray2d: #2D2D2D;
  --green32: #32BC16;
  --gray3f: #3F5E72;
  --gray6a: #6A7A85;
  --gray69: #696969;
  --graya7: #A7A7A7;
  --grayb5: #B5BFC5;
  --grayc8: #C8D6DF;
  --grayd9: #d9d9d9;
  --graydd: #dddddd;
  --grayf0: #F0F1F6;
  --grayf4: #F4F4F4;
  --white: #fff;
}

/* Reset */
* {
  box-sizing: border-box;
}

/* Reset */
html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
blockquote,
pre,
code,
address,
ul,
ol,
li,
nav,
section,
article,
header,
footer,
main,
aside,
dl,
dt,
dd,
table,
thead,
tbody,
tfoot,
label,
caption,
th,
td,
form,
fieldset,
legend,
hr,
input,
button,
textarea,
object,
figure,
figcaption,
dialog {
  margin: 0;
  padding: 0;
}

body,
textarea,
button,
img,
fieldset,
dialog {
  border: none;
}

textarea {
  resize: none;
}

ul,
ol,
li {
  list-style: none;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  table-layout: fixed;
}

address,
cite,
code,
em,
i {
  font-style: normal;
  font-weight: normal;
}

u,
ins,
a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
  background-color: transparent;
}

/* Normalize */
input[type=number],
input[type=text],
input[type=password],
input[type=url],
input[type=email],
input[type=tel],
input[type=date],
textarea {
  -webkit-appearance: none;
  -moz-appearance: textfield;
  appearance: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

input[type=date] {
  position: relative;
}

input[type=date]::-webkit-clear-button,
input[type=date]::-webkit-inner-spin-button {
  display: none;
}

input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  background: transparent;
  color: transparent;
  cursor: pointer;
  width: 100%;
  height: 100%;
}

input[type=date]::before {
  content: attr(data-placeholder);
  width: 100%;
}

input[type=date]:valid::before {
  display: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0;
}

/* Print Media */
@media print {
  .header,
  .footer,
  .visual {
    display: none;
  }
  .page-break {
    page-break-before: always;
  }
}
@page {
  margin: 1cm 2cm;
}
.print {
  display: block;
}

@media screen {
  .print {
    display: none;
  }
}
li {
  list-style: none;
}

/* Flex and Alignment Utility */
.align {
  display: flex;
}

.align.column {
  flex-direction: column;
}

.align.row {
  flex-direction: row;
}

.align.left {
  justify-content: flex-start;
}

.align.right {
  justify-content: flex-end;
}

.align.center {
  justify-content: center;
}

.align.both {
  justify-content: space-between;
}

.align.triple {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.align.triple > :nth-child(1) {
  justify-self: start;
}

.align.triple > :nth-child(2) {
  justify-self: center;
  white-space: nowrap;
}

.align.triple > :nth-child(3) {
  justify-self: right;
}

.align.vt {
  align-items: flex-start;
}

.align.vm {
  align-items: center;
}

.align.vb {
  align-items: flex-end;
}

.gap14 {
  gap: 14px;
}

caption,
legend,
.a11y-hidden {
  overflow: hidden;
  display: block;
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

.block {
  display: block;
}

.inline {
  display: inline-block;
}

.bg.white {
  background: var(--white);
}
.bg.grayf4 {
  background: var(--grayf4);
}
.bg.graydd {
  background: var(--graydd);
}
.bg.orangeff {
  background: var(--orangeff);
}

.radius4 {
  border-radius: 0.4rem;
}

.radius8 {
  border-radius: 0.8rem;
}

.radius16 {
  border-radius: 1.6rem;
}

.main {
  width: 100%;
  min-height: 100vh;
}

.content {
  position: relative;
}

.grid-type1 {
  display: grid;
  grid-template-columns: 31.8rem 1fr;
  gap: 1.8rem;
}

.grid-type2 {
  display: grid;
  grid-template-columns: 31.8rem 1fr;
  gap: 1.8rem;
}

.grid-type3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
}

.grid-type4 {
  display: grid;
  grid-template-columns: 61.4rem 1fr 1fr;
  gap: 1.8rem;
}

.grid-type5 {
  display: grid;
  grid-template-columns: 9.1rem 1fr;
  gap: 1.8rem;
}

.grid-type6 {
  display: grid;
  grid-template-columns: 14rem 1fr;
  gap: 1.8rem;
}

.grid-type7 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.8rem;
}

.grid-type8 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.7rem 2rem;
}

.grid-type9 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.8rem;
}

.borderc8 {
  border: 1px solid var(--grayc8);
}

.border-bottomf0 {
  border-bottom: 4px solid var(--grayf0);
}

.border-bottomb5 {
  border-bottom: 1px solid var(--grayb5);
}

.border-bottomc8 {
  border-bottom: 1px solid var(--grayc8);
}

.flex1 {
  flex-grow: 1;
}

.ellipsis01 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis02 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.ellipsis03 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
}

.position-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: relative;
}

.hidden {
  overflow: hidden;
}

.shadow01 {
  box-shadow: 0px 2px 9.9px 0px rgba(0, 0, 0, 0.1), 0px 2px 31.4px 0px rgba(0, 0, 0, 0.1);
}

.visible {
  overflow: visible !important;
}

.border0 {
  border: 0 !important;
}

.hr {
  width: 100%;
  height: 1px;
}
.hr.grayd3 {
  background: var(--grayd3);
}

.scroll-y {
  overflow-y: auto;
  /* 스크롤바 너비 */
  /* 스크롤바 트랙 */
  /* 스크롤바 핸들(thumb) */
  /* 스크롤바 핸들에 마우스를 올렸을 때 */
}
.scroll-y::-webkit-scrollbar {
  width: 5px; /* 가로 스크롤은 height 속성을 사용 */
}
.scroll-y::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* 트랙 색상 */
  border-radius: 10px; /* 둥근 모서리 */
}
.scroll-y::-webkit-scrollbar-thumb {
  background-color: #888; /* 스크롤바 색상 */
  border-radius: 10px; /* 둥근 모서리 */
}
.scroll-y::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* hover 시 더 진한 색상 */
}

.scroll-x {
  overflow-x: auto;
  /* 가로 스크롤바 높이 */
  /* 가로 스크롤바 트랙 */
  /* 가로 스크롤바 핸들(thumb) */
  /* 가로 스크롤바 핸들 hover 시 */
}
.scroll-x::-webkit-scrollbar {
  height: 8px; /* 가로 스크롤의 높이를 지정 */
}
.scroll-x::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
.scroll-x::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}
.scroll-x::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.radius-bottom {
  border-radius: 0 0 0.8rem 0.8rem;
}

.w70 {
  width: 70%;
}

.w100 {
  width: 100% !important;
}

.mw177 {
  width: 177px;
}

.mw222 {
  width: 222px;
}

.mw360 {
  width: 360px;
}

.mw434 {
  width: 434px;
}

.mw786 {
  width: 786px;
}

.mw930 {
  width: 930px;
}

.mw1246 {
  width: 1246px;
}

.mh115 {
  min-height: 11.5rem;
}

.mh217 {
  min-height: 21.7rem;
}

.mh627 {
  min-height: 62.7rem;
}

.h46 {
  height: 4.6rem;
}

.h48 {
  height: 4.8rem;
}

.h470 {
  height: 47rem;
}

.h464 {
  height: 46.4rem;
}

.px4 {
  padding-left: 0.4rem !important;
  padding-right: 0.4rem !important;
}

.px8 {
  padding-left: 0.8rem !important;
  padding-right: 0.8rem !important;
}

.px10 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.px16 {
  padding-left: 1.6rem;
  padding-right: 1.6rem;
}

.px20 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.px24 {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}

.px40 {
  padding-left: 4rem;
  padding-right: 4rem;
}

.py4 {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}

.py8 {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
}

.py10 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py12 {
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
}

.py14 {
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
}

.py15 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py16 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}

.py20 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py24 {
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
}

.py26 {
  padding-top: 2.6rem;
  padding-bottom: 2.6rem;
}

.py30 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py38 {
  padding-top: 3.8rem;
  padding-bottom: 3.8rem;
}

.py40 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.py50 {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.py60 {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.py138 {
  padding-top: 13.8rem;
  padding-bottom: 13.8rem;
}

.pt6 {
  padding-top: 0.6rem;
}

.pt8 {
  padding-top: 0.8rem;
}

.pt10 {
  padding-top: 1rem;
}

.pt12 {
  padding-top: 1.2rem;
}

.pt14 {
  padding-top: 1.4rem;
}

.pt16 {
  padding-top: 1.6rem;
}

.pt18 {
  padding-top: 1.8rem;
}

.pt20 {
  padding-top: 2rem;
}

.pt22 {
  padding-top: 2.2rem;
}

.pt23 {
  padding-top: 2.3rem;
}

.pt24 {
  padding-top: 2.4rem;
}

.pt26 {
  padding-top: 2.6rem;
}

.pt28 {
  padding-top: 2.8rem;
}

.pt30 {
  padding-top: 3rem;
}

.pt32 {
  padding-top: 3.2rem;
}

.pt36 {
  padding-top: 3.6rem;
}

.pt38 {
  padding-top: 3.8rem;
}

.pt40 {
  padding-top: 4rem;
}

.pt46 {
  padding-top: 4.6rem;
}

.pt47 {
  padding-top: 4.7rem;
}

.pt48 {
  padding-top: 4.8rem;
}

.pt50 {
  padding-top: 5rem;
}

.pt53 {
  padding-top: 5.3rem;
}

.pt57 {
  padding-top: 5.7rem;
}

.pt60 {
  padding-top: 6rem;
}

.pt62 {
  padding-top: 6.2rem;
}

.pt74 {
  padding-top: 7.4rem;
}

.pt77 {
  padding-top: 7.7rem;
}

.pt80 {
  padding-top: 8rem;
}

.pt114 {
  padding-top: 11.4rem;
}

.pt116 {
  padding-top: 11.6rem;
}

.pt120 {
  padding-top: 12rem;
}

.pt134 {
  padding-top: 13.4rem;
}

.pt153 {
  padding-top: 15.3rem;
}

.pt160 {
  padding-top: 16rem;
}

.pt164 {
  padding-top: 16.4rem;
}

.pb6 {
  padding-bottom: 0.6rem;
}

.pb8 {
  padding-bottom: 0.8rem;
}

.pb10 {
  padding-bottom: 1rem;
}

.pb12 {
  padding-bottom: 1.2rem !important;
}

.pb14 {
  padding-bottom: 1.4rem;
}

.pb16 {
  padding-bottom: 1.6rem;
}

.pb20 {
  padding-bottom: 2rem;
}

.pb22 {
  padding-bottom: 2.2rem;
}

.pb23 {
  padding-bottom: 2.3rem;
}

.pb24 {
  padding-bottom: 2.4rem;
}

.pb26 {
  padding-bottom: 2.6rem;
}

.pb28 {
  padding-bottom: 2.8rem;
}

.pb30 {
  padding-bottom: 3rem;
}

.pb32 {
  padding-bottom: 3.2rem;
}

.pb36 {
  padding-bottom: 3.6rem;
}

.pb40 {
  padding-bottom: 4rem;
}

.pb48 {
  padding-bottom: 4.8rem;
}

.pb248 {
  padding-bottom: 24.8rem;
}

.pl1 {
  padding-left: 0.1rem;
}

.pl8 {
  padding-left: 0.8rem;
}

.pl16 {
  padding-left: 1.6rem;
}

.pl20 {
  padding-left: 2rem;
}

.pl200 {
  padding-left: 20rem;
}

.pr20 {
  padding-right: 2rem;
}

.mx-auto {
  margin: 0 auto;
}

.mxw140 {
  max-width: 14rem;
}

.mxw238 {
  max-width: 23.8rem;
}

.mxw280 {
  max-width: 28rem;
}

.mxw292 {
  max-width: 29.2rem;
}

.mxw295 {
  max-width: 29.5rem;
}

.mxw296 {
  max-width: 29.6rem;
}

.mxw360 {
  max-width: 36rem;
}

.mxw436 {
  max-width: 43.6rem;
}

.mxw443 {
  max-width: 44.3rem;
}

.mxw612 {
  max-width: 61.2rem;
}

.mxw614 {
  max-width: 61.4rem;
}

.mxw712 {
  max-width: 71.2rem;
}

.mxw766 {
  max-width: 76.6rem;
}

.mxw930 {
  max-width: 93rem;
}

.mxw1246 {
  max-width: 124.6rem;
}

.mt4 {
  margin-top: 0.4rem;
}

.mt6 {
  margin-top: 0.6rem;
}

.mt8 {
  margin-top: 0.8rem;
}

.mt10 {
  margin-top: 1rem;
}

.mt12 {
  margin-top: 1.2rem;
}

.mt14 {
  margin-top: 1.4rem;
}

.mt16 {
  margin-top: 1.6rem;
}

.mt20 {
  margin-top: 2rem;
}

.mt22 {
  margin-top: 2.2rem;
}

.mt24 {
  margin-top: 2.4rem;
}

.mt25 {
  margin-top: 2.5rem;
}

.mt26 {
  margin-top: 2.6rem;
}

.mt30 {
  margin-top: 3rem;
}

.mt32 {
  margin-top: 3.2rem;
}

.mt34 {
  margin-top: 3.4rem;
}

.mt36 {
  margin-top: 3.6rem;
}

.mt40 {
  margin-top: 4rem;
}

.mt45 {
  margin-top: 4.5rem;
}

.mt46 {
  margin-top: 4.6rem;
}

.mt60 {
  margin-top: 6rem;
}

.mt77 {
  margin-top: 7.7rem;
}

.mt100 {
  margin-top: 10rem;
}

.mt114 {
  margin-top: 11.4rem;
}

.mb6 {
  margin-bottom: 0.6rem;
}

.mb8 {
  margin-bottom: 0.8rem;
}

.mb10 {
  margin-bottom: 1rem;
}

.mb12 {
  margin-bottom: 1.2rem;
}

.mb20 {
  margin-bottom: 2rem;
}

.mb22 {
  margin-bottom: 2.2rem;
}

.mb23 {
  margin-bottom: 2.3rem;
}

.mb24 {
  margin-bottom: 2.4rem;
}

.mb32 {
  margin-bottom: 3.2rem;
}

.mb36 {
  margin-bottom: 3.6rem;
}

.mb40 {
  margin-bottom: 4rem;
}

.mb-14 {
  margin-bottom: -1.4rem;
}

.ml4 {
  margin-left: 0.4rem;
}

.ml5 {
  margin-left: 0.5rem;
}

.ml6 {
  margin-left: 0.6rem;
}

.ml8 {
  margin-left: 0.8rem;
}

.ml10 {
  margin-left: 1rem;
}

.ml12 {
  margin-left: 1.2rem;
}

.ml14 {
  margin-left: 1.4rem;
}

.ml16 {
  margin-left: 1.6rem;
}

.ml18 {
  margin-left: 1.8rem;
}

.ml20 {
  margin-left: 2rem;
}

.ml23 {
  margin-left: 2.3rem;
}

.ml40 {
  margin-left: 4rem;
}

.ml-30 {
  margin-left: -3rem;
}

.mr8 {
  margin-right: 0.8rem;
}

.mr22 {
  margin-right: 2.2rem;
}

.header .row1 {
  width: 100%;
  height: 3.6rem;
  display: flex;
  justify-content: space-between;
  background: var(--navy05);
}
.header .row1 .top-nav {
  display: flex;
  gap: 2.8rem;
  align-items: center;
  padding-left: 4rem;
  padding-right: 4rem;
}
.header .row1 .top-nav li + li {
  position: relative;
}
.header .row1 .top-nav li + li::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1.4rem;
  display: block;
  content: "";
  width: 1px;
  height: 11px;
  border-radius: 1px;
  background: #5A68D1;
}
.header .row1 .top-nav li a {
  display: block;
  overflow: hidden;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
}
.header .row1 .top-select {
  display: flex;
  gap: 0.8rem;
  align-items: center;
  padding-right: 4rem;
}
.header .row1 .top-select li select {
  color: var(--white);
  text-align: center;
  font-size: 1.2rem;
  border-radius: 0.4rem;
  border: 1px solid #5A68D1;
  padding: 0.6rem 2.3rem 0.6rem 0.8rem;
  background: var(--navy05) url(/images/ico_arrow_down_white.svg) no-repeat top 50% right 0.8rem;
}
.header .row2 {
  height: 7rem;
  display: grid;
  grid-template-columns: 17rem 1fr 27.8rem;
  align-items: center;
  padding: 1.6rem 4rem;
}
.header .row2 .logo a {
  display: block;
}
.header .row2 .search {
  display: flex;
  align-items: center;
  max-width: 61.4rem;
  height: 3.8rem;
  border: 1px solid var(--blue00);
  margin: 0 auto;
  padding: 1rem 0;
}
.header .row2 .search .select-wrap {
  padding-left: 1.4rem;
  display: flex;
}
.header .row2 .search .select-wrap select {
  color: var(--blue00);
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  padding-right: 2.9rem;
  background: url(/images/ico_arrow_down_blue.svg) no-repeat top 50% right 1rem;
}
.header .row2 .search .select-wrap select:focus {
  outline: none;
}
.header .row2 .search .select-wrap::after {
  display: block;
  content: "";
  width: 1px;
  height: 22px;
  background: var(--blue00);
}
.header .row2 .search input {
  width: 42.2rem;
  height: 3rem;
  color: #19202D;
  font-size: 1.4rem;
  padding: 1rem 1.4rem 1rem 1rem;
  border: 0;
  margin-top: 0.25rem;
}
.header .row2 .search input::-moz-placeholder {
  color: var(--grayb5);
}
.header .row2 .search input::placeholder {
  color: var(--grayb5);
}
.header .row2 .search input:focus {
  outline: 0;
}
.header .row2 .search button {
  width: 9.7rem;
  height: 3.8rem;
  padding: 1rem;
  background: var(--blue00);
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
}
.header .row2 .utility {
  display: flex;
  gap: 1.6rem;
  align-items: center;
}
.header .row2 .utility li .btn-sale {
  display: block;
  height: 3.8rem;
  background: var(--orangeff);
  padding: 1rem;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
}
.header .banner {
  display: grid;
  grid-template-columns: 1fr 31.7rem;
}
.header .banner .slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.header .banner .nav-menu__title {
  background: var(--text-black, #000);
  color: var(--background-white, #FFF);
  text-align: center;
  font-family: Pretendard;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 100%;
  padding: 1.4rem;
}
.header .banner .nav-menu ul li {
  height: 6.3rem;
  background: var(--background-white, #FFF);
}
.header .banner .nav-menu ul li + li {
  border-top: 1px solid var(--grayf0);
}
.header .banner .nav-menu ul li a {
  height: 6.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.4rem;
  color: var(--black19);
  text-align: center;
  font-size: 1.4rem;
  font-weight: 600;
}
.header .banner .nav-menu ul li a:hover {
  background: var(--blue00);
  color: var(--white);
}

.btn.icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 8.6rem;
  height: 8.6rem;
  border: 1px solid var(--grayb5);
}
.btn.primary {
  background: var(--blue00);
  color: var(--white);
}
.btn.primary2 {
  background: var(--orangeff);
  color: var(--white);
}
.btn.line {
  padding: 1rem;
}
.btn.line.blue {
  border: 1px solid var(--blue00);
  background: var(--white);
}
.btn.line.orange {
  border: 1px solid var(--orangeff);
  background: var(--orangeffd);
}
.btn.line.gray {
  background: var(--white);
  border: 1px solid var(--grayc8);
}
.btn.line.gray.active {
  background: var(--orangeffd);
  border: 1px solid var(--orangeff);
  color: var(--orangeff);
}

.btn-type1 {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 8.6rem;
  background: white;
  width: 31.8rem;
  padding-left: 2rem;
  box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.05); /* 위쪽에만 그림자 */
  padding-right: 2.4rem;
}
.btn-type1 .btn-reset {
  border: 1px solid var(--grayc8);
  padding: 1rem;
  color: var(--gray6a);
  font-size: 1.4rem;
  font-weight: 700;
  width: 8rem;
}
.btn-type1 .btn-filtering {
  width: 100%;
  background: var(--main-darkblue, #051277);
  padding: 1rem;
  color: var(--background-white, #FFF);
  font-size: 1.4rem;
  font-weight: 700;
}

.label-wrap {
  display: flex;
  gap: 1.2rem;
}
.label-wrap li {
  position: relative;
  color: var(--gray6a);
  font-size: 1.2rem;
  font-weight: 500;
}
.label-wrap li + li:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.6rem;
  width: 1px;
  height: 11px;
  background: var(--grayc8);
  margin-top: 0.08rem;
}

.label-certification {
  display: flex;
  gap: 0.6rem;
}
.label-certification .label {
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6rem 0.4rem;
  min-width: 8rem;
  height: 2.2rem;
}
.label-certification .label.orange {
  background: var(--orangeff);
}
.label-certification .label.blue {
  background: var(--blue00);
}
.label-certification .label.ico1 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.label-certification .label.ico1::before {
  display: block;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(/images/ico_like.svg) no-repeat 0 0/contain;
}
.label-certification .label.ico2 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.label-certification .label.ico2::before {
  display: block;
  content: "";
  width: 13px;
  height: 16px;
  background: url(/images/ico_tri.svg) no-repeat 0 0/contain;
}

.input-type1 {
  height: 3.2rem;
  border: 1px solid var(--grayb5);
  width: 100%;
  padding: 1rem;
}
.input-type1::-moz-placeholder {
  color: var(--grayc8);
  font-size: 1.4rem;
}
.input-type1::placeholder {
  color: var(--grayc8);
  font-size: 1.4rem;
}

.input-type2 input {
  height: 3.8rem;
  border: 0;
  background: var(--grayf0);
  width: 100%;
  padding: 1rem;
  color: var(--gray3f);
}
.input-type2 input::-moz-placeholder {
  color: var(--gray3f);
  font-size: 1.4rem;
}
.input-type2 input::placeholder {
  color: var(--gray3f);
  font-size: 1.4rem;
}

.input-type3 input {
  height: 4.6rem;
  border: 1px solid var(--grayb5);
  width: 100%;
  padding: 1rem 1.6rem;
}
.input-type3 input::-moz-placeholder {
  color: var(--grayc8);
  font-size: 1.4rem;
}
.input-type3 input::placeholder {
  color: var(--grayc8);
  font-size: 1.4rem;
}
.input-type3.won {
  position: relative;
}
.input-type3.won::after {
  position: absolute;
  top: 50%;
  right: 1.6rem;
  content: "원";
  display: flex;
  align-items: center;
  transform: translateY(-50%);
  color: var(--black00);
  font-size: 1.4rem;
}
.input-type3 input[type=date] {
  background: url(/images/ico_calendar.svg) no-repeat top 50% right 10px;
}

.file-upload {
  display: flex;
  align-items: center;
  border: 1px solid var(--grayb5);
  border-radius: 4px;
  overflow: hidden;
  max-width: 400px;
}

.file-input {
  display: none;
}

.file-label {
  height: 3.8rem;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  background-color: var(--white);
  cursor: pointer;
  padding: 1.2rem 0 1.6rem 1.2rem;
}

.file-text {
  color: var(--grayc8);
  font-size: 1.4rem;
  padding-top: 0.5rem;
}

.file-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6.9rem;
  height: 4.2rem;
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 700;
  background: var(--grayb5);
  padding-top: 0.5rem;
}

.file-button:hover {
  background-color: #c0c0c0;
}

.check-type1 {
  display: flex;
  align-items: center;
}
.check-type1 label {
  color: var(--gray6a);
  font-size: 1.4rem;
  font-weight: 700;
}
.check-type1 input.checkbox {
  width: 2rem;
  height: 2rem;
  border: 1.5px solid red !important;
  background: red !important;
}
.check-type1 input.checkbox:checked {
  background: yellow !important;
}

.select-type1 {
  position: relative;
}
.select-type1 select {
  background: red;
  width: 7.2rem;
  height: 3.2rem;
  padding-left: 1.6rem;
  background: url(/images/ico_arrow_down_gray.svg) no-repeat top 50% right 0/13px;
}
.select-type1::before {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 22px;
  background: var(--gray6a);
}

.select-type2 select {
  min-width: 10.8rem;
  color: var(--grayc8);
  font-size: 1.4rem;
  padding: 1rem 0.6rem 1rem 1rem;
  border: 1px solid var(--grayb5);
  background: url(/images/ico_arrow_down_gray2.svg) no-repeat top 50% right 1.15rem/1.3rem;
}
.select-type2 select.mw100 {
  min-width: 100%;
}

.check-box input[type=checkbox] {
  display: none;
}
.check-box input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1.5px solid var(--gray3f);
  background: var(--white);
}
.check-box input[type=checkbox] + label span {
  margin-left: 28px;
  display: block;
  min-width: 300px;
}
.check-box input[type=checkbox]:checked + label {
  position: relative;
}
.check-box input[type=checkbox]:checked + label::after {
  position: absolute;
  top: -1px;
  left: -1px;
  display: block;
  content: "";
  width: 2rem;
  height: 2rem;
  background: url(/images/ico_checked.svg) no-repeat center center;
}

.ad-banner {
  position: fixed;
  top: 0;
  right: 0;
  max-width: 25rem;
}
.ad-banner .youtube-wrap img {
  width: 100%;
}
.ad-banner .youtube-wrap .info {
  width: 100%;
  margin-top: -3px;
}
.ad-banner .business-card {
  margin-top: 1.6rem;
  padding: 2rem 1.6rem;
  background: var(--grayf4);
}
.ad-banner .business-card .profile {
  width: 11.4rem;
  height: 11.4rem;
  border-radius: 100%;
  background: var(--grayd9);
  margin: 0 auto;
  overflow: hidden;
}
.ad-banner .business-card .profile img {
  display: block;
  width: 11.4rem;
  height: 11.4rem;
  border-radius: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.list-type1 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1.8rem;
}
.list-type1.grid4 {
  grid-template-columns: repeat(4, 1fr);
}
.list-type1 li {
  position: relative;
}
.list-type1 li img {
  display: block;
  width: 100%;
}
.list-type1 li .info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 16.4rem;
  padding-top: 1rem;
  padding-bottom: 1.4rem;
}
.list-type1 li .info .label-wrap {
  display: flex;
  gap: 1.2rem;
}
.list-type1 li .info .label-wrap li {
  position: relative;
  color: var(--gray6a);
  font-size: 1.2rem;
  font-weight: 500;
}
.list-type1 li .info .label-wrap li + li:before {
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -0.6rem;
  width: 1px;
  height: 11px;
  background: var(--grayc8);
  margin-top: 0.08rem;
}
.list-type1 li .label-certification {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  gap: 0.6rem;
}
.list-type1 li .label-certification .label {
  color: var(--white);
  font-size: 1rem;
  font-weight: 700;
  padding: 0.6rem 0.4rem;
  min-width: 8rem;
  height: 2.2rem;
}
.list-type1 li .label-certification .label.orange {
  background: var(--orangeff);
}
.list-type1 li .label-certification .label.blue {
  background: var(--blue00);
}
.list-type1 li .label-certification .label.ico1 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.list-type1 li .label-certification .label.ico1::before {
  display: block;
  content: "";
  width: 2.4rem;
  height: 2.4rem;
  background: url(/images/ico_like.svg) no-repeat 0 0/contain;
}
.list-type1 li .label-certification .label.ico2 {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.list-type1 li .label-certification .label.ico2::before {
  display: block;
  content: "";
  width: 13px;
  height: 16px;
  background: url(/images/ico_tri.svg) no-repeat 0 0/contain;
}

.list-type2 {
  display: flex;
  justify-content: space-between;
}
.list-type2 li img {
  display: block;
  width: 100%;
}

.list-type3 {
  flex-wrap: wrap;
  gap: 0.8rem;
}
.list-type3 li button {
  height: 3rem;
  display: inline-flex;
  align-items: center;
  padding: 0.8rem;
  border: 1px solid var(--grayc8);
  overflow: hidden;
  color: var(--gray6a);
  font-size: 1.4rem;
}
.list-type3 li button.active {
  background: var(--grayf0);
  border: 1px solid var(--grayf0);
  color: var(--blue00);
}

.list-type4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
}
.list-type4 li + li {
  margin-top: 1.8rem;
}

.section .inner .introduction .btn-view {
  padding-bottom: 0.5rem;
  display: inline-flex;
  border-bottom: 1px solid var(--blue00);
}
.section .inner .img-wrap img {
  width: 100%;
}

.card-type1 {
  width: 100%;
  min-height: 10.9rem;
}
.card-type1 .img-wrap {
  width: 9.8rem;
}
.card-type1 .img-wrap img {
  width: 100%;
}
.card-type1 .info {
  height: 7.3rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-type2 {
  width: 100%;
  min-height: 10.9rem;
}
.card-type2 .img-wrap {
  width: 6rem;
  height: 6rem;
  border-radius: 100%;
  background: var(--grayd9);
  overflow: hidden;
}
.card-type2 .img-wrap img {
  width: 6rem;
  height: 6rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.card-type2 .info ul {
  height: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text.fz12 {
  font-size: 1.2rem;
}
.text.fz14 {
  font-size: 1.4rem;
}
.text.fz16 {
  font-size: 1.6rem;
}
.text.fz18 {
  font-size: 1.8rem;
}
.text.fz24 {
  font-size: 2.4rem;
}
.text.fz30 {
  font-size: 3rem;
}
.text.fz36 {
  font-size: 3.6rem;
}
.text.fz52 {
  font-size: 5.2rem;
}
.text.fw400 {
  font-weight: 400;
}
.text.fw500 {
  font-weight: 500;
}
.text.fw700 {
  font-weight: 700;
}
.text.fw800 {
  font-weight: 800;
}
.text.lh160 {
  line-height: 160%;
}
.text.lh180 {
  line-height: 180%;
}
.text.black00 {
  color: var(--black00);
}
.text.black2d {
  color: var(--black2d);
}
.text.black24 {
  color: var(--black24);
}
.text.black2d {
  color: var(--black2d);
}
.text.orangeff {
  color: var(--orangeff);
}
.text.green32 {
  color: var(--green32);
}
.text.navy13 {
  color: var(--navy13);
}
.text.blue00 {
  color: var(--blue00);
}
.text.graya7 {
  color: var(--graya7);
}
.text.gray3f {
  color: var(--gray3f);
}
.text.gray6a {
  color: var(--gray6a);
}
.text.gray69 {
  color: var(--gray69);
}
.text.white {
  color: var(--white);
}
.text.underline {
  text-decoration: underline;
}
.text.spacing1 {
  letter-spacing: 0.72rem;
}
.text.ico1 {
  display: flex;
  gap: 0.4rem;
}
.text.ico1::after {
  display: block;
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  background: url(/images/ico_check_green.svg);
}
.text.ico2 {
  display: flex;
  gap: 0.4rem;
}
.text.ico2::after {
  display: block;
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  background: url(/images/ico_circle_gray.svg);
}
.text.ico3 {
  display: flex;
  gap: 0.4rem;
}
.text.ico3::before {
  display: block;
  content: "";
  width: 1.9rem;
  height: 1.9rem;
  background: url(/images/ico_check_green.svg);
}

label {
  display: inline-block;
}

.ellipsis01 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis02 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.nowrap {
  white-space: nowrap;
}

.text-left {
  text-align: left !important;
}

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.footer {
  background: var(--gray2d);
}
.footer .inner {
  padding: 0 2rem;
}
.footer .inner .row1 {
  height: 4.8rem;
  border-bottom: 1px solid var(--gray69);
}
.footer .inner .row1 .link-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.8rem;
  height: 4.8rem;
}
.footer .inner .row1 .link-list li + li {
  position: relative;
}
.footer .inner .row1 .link-list li + li::before {
  position: absolute;
  display: block;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -1.4rem;
  width: 1px;
  height: 11px;
  border-radius: 1px;
  background: var(--gray69);
}
.footer .inner .row1 .link-list li a {
  display: block;
  overflow: hidden;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
}
.footer .inner .row2 {
  padding-top: 2.9rem;
  padding-bottom: 2.9rem;
  border-bottom: 1px solid var(--gray69);
}
.footer .inner .row2 .info-list li {
  display: flex;
  color: var(--white);
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 0.8rem;
}
.footer .inner .row2 .info-list li .title {
  width: 10rem;
}
.footer .inner .row3 ul {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  gap: 2.5rem;
}
.footer .inner .row3 ul li {
  color: var(--background-gray, #F4F4F4);
  font-size: 1.4rem;
  font-weight: 700;
}

.step-bar {
  gap: 5.1rem;
}
.step-bar li {
  display: flex;
  gap: 0.6rem;
}
.step-bar li + li {
  position: relative;
}
.step-bar li + li::before {
  position: absolute;
  left: -3.3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  content: "";
  width: 1.5rem;
  height: 1.5rem;
  background: url(/images/ico_arrow_right_gray01.svg) no-repeat 0 0/contain;
}
.step-bar li i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 100%;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--gray6a);
  background: var(--grayf0);
}
.step-bar li.active {
  color: var(--orangeff);
}
.step-bar li.active i {
  color: var(--orangeff);
  background: #FFDDD1;
}