.header { 
    .row1 { 
        width: 100%;
        height: 3.6rem;
        display: flex;
        justify-content: space-between;
        background: var(--navy05);
         .top-nav { 
            display: flex;
            gap: 2.8rem;
            align-items: center;
            padding-left: 4rem;
            padding-right: 4rem;
            li { 
                & + li { 
                    position: relative;
                    &::before { 
                        @include top-center;
                        left: -1.4rem;
                        @include content;
                        width: 1px;
                        height: 11px;
                        border-radius: 1px;
                        background: #5A68D1;
                    }
                }
                a { 
                    display: block;
                    overflow: hidden;
                    color: var(--white);
                    font-size: 1.2rem;
                    font-weight: 500;
                }
            }
         }

        @media screen and (width < 1300px) {
            display: none;
        }
    }
    .row2 { 
        height: 7rem;
        display: grid;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.6rem 4rem;
        .main-menu { 
            margin-left: 3rem;
            >ul { 
                display: flex;
                >li { 
                    position: relative;
                    background: var(--white);
                    >a { 
                        height: 7rem;
                        display: flex;
                        align-items: center;
                        padding: 1rem 3rem;
                        color: var(--navy05);
                        font-size: 1.6rem;
                        font-weight: 700;
                    }
                    &:hover { 
                        background: var(--grayf0);
                    }
                    .sub-menu { 
                        display: none;
                        position: absolute;
                        top: 7rem;
                        left: 0;
                        width: 100%;
                        li { 
                            a { 
                                width: 100%;
                                height: 3.8rem;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                padding: 1rem;
                                background: var(--white);
                                color: var(--navy05);
                                font-size: 1.4rem;
                                text-align: center;
                                line-height: 100%; /* 1.4rem */
                                border-bottom: 1px solid var(--grayc8);
                                &:hover { 
                                    background: var(--grayf0);
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
        .logo { 
            a { 
                display: block;
            }
        }
        .search { 
            display: flex;
            align-items: center;
            // width: 36rem;
            height: 3.8rem;
            border: 1px solid var(--blue00);
            margin: 0 auto;
            padding: 1rem 0;
            .select-wrap { 
                padding-left: 1.4rem;
                display: flex;
                select { 
                    
                    color: var(--blue00);
                    font-family: Pretendard;
                    font-size: 1.4rem;
                    font-style: normal;
                    font-weight: 400;
                    padding-right: 2.9rem;
                    background: url(#{$img-path}ico_arrow_down_blue.svg) no-repeat top 50% right 1rem;
                    &:focus { 
                        outline: none;
                    }
                }
                &::after { 
                    @include content;
                    width: 1px;
                    height: 22px;
                    background: var(--blue00);
                }
            }
            input { 
                width: 100%;
                min-width: 20rem;
                height: 3rem;
                color: #19202D;
                font-size: 1.4rem;
                padding: 1rem 1.4rem 1rem 1rem;
                border: 0;
                margin-top: .25rem;
                &::placeholder { 
                    color: var(--grayb5);
                }
                &:focus { 
                    outline: 0;
                }
            }
            button { 
                width: 13.7rem;
                height: 3.8rem;
                padding: 1rem;
                background: var(--blue00);
                color: var(--white);
                font-size: 1.4rem;
                font-weight: 700;
            }
        }
        @media screen and (width < 1300px) {
            display: none;
        }
    }
    .header-mobile { 
        display: none;
        height: 100vh;
        position: relative;
        height: 6.4rem;
        padding: 1.6rem;
        z-index: 500;
        .btn-hamburger { 
            width: 2.6rem;
            img { 
                width: 100%;
            }

        }
        h1 { 
            a { 
                display: block;
                width: 16.6rem;
                img { 
                    width: 100%;
                }
            }
        }
        @media screen and (width < 1300px) {
            display: block;
        }
        .hamburger { 
            visibility: hidden;
            opacity: 0;
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100vh;
            background: var(--white);
            z-index: 100;
            overflow: auto;
            transition: opacity 0.3s ease-in-out;
            &.active { 
                visibility: visible;
                opacity: 1;
                left: 0;
            }
            .row1-mobile { 
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 7rem;
                background: var(--navy05);
            }
            .main-menu-mobile { 
                    padding: 12.3rem 1.6rem 5.6rem 1.6rem;
                    > li { 
                        > a { 
                            display: block;
                            color: var(--gray75);
                            font-size: 1.5rem;
                            font-weight: 700;
                            border-bottom: 1px solid #ddd;
                            padding: 1.6rem 0;
                            // margin-bottom: 1.6rem;
                        }
                    }
                    .sub-menu-mobile { 
                        display: none;
                        padding-top: 1.6rem;
                        > li { 
                            > a { 
                                display: block;
                                color: var(--black1e);
                                font-size: 1.7rem;
                                font-weight: 500;
                                padding-bottom: .8rem;
                                padding-left: .8rem;
                            }
                        }
                        &.active { 

                        }
                    }
                }
            }
            .footer-mobile { 
                width: 100%;
                position: fixed;
                bottom: 0;
                left: 0;
                background: var(--navy05);
                padding-left: 1.6rem;
                padding-right: 1.6rem;
            }
            
    }
    .slider { 
        position: relative;
        img { 
            width: 100%;
            height: 359.57px; 
            margin-top: -1.5rem;
            object-fit: cover;
        }
    }
    .banner { 
        // display: grid;
        // grid-template-columns: 1fr 31.7rem;
        .slide { 
            img { 
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        @media screen and (width < 1300px) {
            display: block;
        }
    }
}
.nav-menu { 
    width: 31.7rem;
    position: absolute;
    top: .3rem;
    right: -31.7rem;
    &__title { 

        background: var(--text-black, #000);
        color: var(--background-white, #FFF);
        text-align: center;
        font-family: Pretendard;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 600;
        line-height: 100%; 
        padding: 1.4rem;
    }
    ul { 
        li { 
            height: 6.3rem;
            background: var(--white);
            & + li { 
               border-top: 1px solid var(--grayf0);

           }
            a { 
                height: 6.3rem;
                display: flex;
                align-items: center;
                justify-content: center;
                
                padding: 1.4rem;
                color: var(--black19);
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
                &:hover { 
                    background: var(--blue00);
                    color: var(--white);
                }
            }
        }
    }
    @media screen and (width < 1300px) {
        display: none;
    }

}


.hover-menu { 
    position: absolute;
    top: 10.3rem;
    left: 0;
    z-index: 200;
    width: calc(100% - 31.7rem);
    height: 36rem;
    @media screen and (width < 1300px) {
        width: 100%;
    }
    .hover-menu-wrap { 
        display: none;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 200;
        width: 101%;
        height: 36rem;
        background: var(--grayf4);
        &.active { 
            display: block;
        }
        @media screen and (width < 1300px) {
            top: -4.2rem;
        }
        @media screen and (width < 400px) {
            height: 46rem;
        }
    }
    .hover-menu01 { 
        align-items: center;
        justify-content: center;
        &.active { 
            display: flex;
        }
        .align { 
            @media screen and (width < 1300px) {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                justify-content: center;
                height: 50%;
            }
        }
    }
    .hover-menu02 { 
        margin: 0 auto;
        ul { 
            height: auto;
            display: grid;
            grid-template-columns: repeat(8, 1fr);
            justify-content: center;
            align-items: center;
            padding-top: 6rem;
            max-width: 80%;
                margin: 0 auto;

            li { 
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
        }
    }
    @media screen and (width < 1300px) {
        .hover-menu02 { 
            align-items: center;
            justify-content: center;
            .hover-menu-content { 
                padding-top: 0;
                &.align { 
                    display: grid;
                    grid-template-columns: repeat(5, 1fr);
                    // height: 50%;
                }
                .img-wrap { 
                    width: 5rem;
                    height: 5rem;
                    img { 
                        display: block;
                        width: 70%;
                    }
                }
                .virtual-object { 
                    display: none;
                }
            }
            &.active { 
                display: flex;
            }
        }
    }
    @media screen and (width < 1300px) {
        .hover-menu03 { 
            align-items: center;
            justify-content: center;
            .hover-menu-content { 
                &.align { 
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    height: 50%;
                }
            }
            &.active { 
                display: flex;
            }
        }
    }
    @media screen and (width < 1300px) {
        .hover-menu04 { 
            align-items: center;
            justify-content: center;
            .hover-menu-content { 
                &.align { 
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    height: 50%;
                }
                p { 
                    font-size: 1rem;
                    padding-top: 0;
                }
            }
            &.active { 
                display: flex;
            }
        }
    }
    ul { 
        height: 35.7rem;
        gap: 2rem;
        @media screen and (width < 1300px) {
            padding: 0 2rem;
        }
        li { 
            .square-wrap { 
                display: flex;
                justify-content: center;
                align-items: center;
                width: 15rem;
                height: 10rem;
                background: var(--white);
                @media screen and (width < 1300px) {
                    width: 8rem;
                    height: auto;
                    aspect-ratio: 1 / 0.66;
                }
            }
            .txt-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8.8rem;
                height: 8.8rem;
                background: var(--white);
                border-radius: 100%;
                color: var(--gray69);
                text-align: center;
                font-size: 1.4rem;
                padding-top: 0.8rem;
                @media screen and (width < 1300px) {
                    width: 5rem;
                    height: auto;
                    aspect-ratio: 1/1;
                
                }
            }
            .img-wrap {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 8.8rem;
                height: 8.8rem;
                background: var(--white);
                border-radius: 100%;
            }
            p { 
                color: var(--gray69);
                text-align: center;
                font-size: 1.4rem;
                padding-top: 0.8rem;
            }
            &.select-wrap { 
                select { 
                    width: 40rem;
                    height: 10rem;
                    background: var(--white);
                    padding: 4.3rem 5rem;
                    color: var(--gray69);
                    font-size: 1.4rem;
                }
                @media screen and (width < 1300px) {
                    width: 100%;
                    select { 
                        width: 100%;
                        height: 4rem;
                        padding: 0 .8rem;
                        
                        
                    }
                }
            }
            &.tilde { 
                color: var(--black19);
                text-align: center;
                font-size: 5rem;
                @media screen and (width < 1300px) {
                    font-size: 2.4rem;
                }
            }
        }
    }
    
    
}
.utility { 
    display: flex;
    gap: 1.6rem;
    align-items: center;
    li { 
        .btn-sale { 
            display: block;
            height: 3.8rem;
            background: var(--orangeff);
            padding: 1rem;
            color: var(--white);
            font-size: 1.4rem;
            font-weight: 700;
        }
        .btn-icon { 
            width: 2.2rem;
            img { 
                display: block;
                width: 100%;
            }
        }
    }
}
.top-select { 
    display: flex;
    gap: 0.8rem;
    align-items: center;
    li { 
        select { 
            color: var(--white);
            text-align: center;
            font-size: 1.2rem;
            border-radius: 0.4rem;
            border: 1px solid #5A68D1;
            padding: 0.6rem 2.3rem 0.6rem 0.8rem;
            background: var(--navy05) url(#{$img-path}ico_arrow_down_white.svg) no-repeat top 50% right .8rem;
        }
    }
 }
 .search { 
    display: flex;
    align-items: center;
    height: 3.8rem;
    border: 1px solid var(--blue00);
    margin: 0 auto;
    padding: 1rem 0;
    background: var(--white);
    .select-wrap { 
        padding-left: 1.4rem;
        display: flex;
        select { 
            color: var(--blue00);
            font-family: Pretendard;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 400;
            padding-right: 2.9rem;
            background: url(#{$img-path}ico_arrow_down_blue.svg) no-repeat top 50% right 1rem;
            &:focus { 
                outline: none;
            }
        }
        &::after { 
            @include content;
            width: 1px;
            height: 22px;
            background: var(--blue00);
        }
    }
    input { 
        width: 100%;
        min-width: 20rem;
        height: 3rem;
        color: #19202D;
        font-size: 1.4rem;
        padding: 1rem 1.4rem 1rem 1rem;
        border: 0;
        margin-top: .25rem;
        &::placeholder { 
            color: var(--grayb5);
        }
        &:focus { 
            outline: 0;
        }
    }
    button { 
        width: 13.7rem;
        height: 3.8rem;
        padding: 1rem;
        background: var(--blue00);
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 700;
    }
}
.top-nav { 
    display: flex;
    gap: 2.8rem;
    align-items: center;
    background: var(--navy05);
    height: 3.6rem;
    @media screen and (width < 1300px) {
        height: 4rem;
    }
    li { 
        & + li { 
            position: relative;
            &::before { 
                @include top-center;
                left: -1.4rem;
                @include content;
                width: 1px;
                height: 11px;
                border-radius: 1px;
                background: #5A68D1;
            }
        }
        a { 
            display: block;
            overflow: hidden;
            color: var(--white);
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
 }
.nav-menu-mobile {
    display: none;
    width: calc(100% + 31.7rem);
    position: absolute;
    bottom: -0rem;
    left: 0;
    background: var(--white);
    pointer-events: auto;
    z-index: 1000;
    @media screen and (width < 1300px) {
        display: block;
        width: 100%;
    }
    @media screen and (width < 400px) {
        bottom: -10rem;
    }
    ul { 
        height: 4.2rem;
        display: flex;
        li { 
            width: 100%;
            a { 
                height: 4.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                color: var(--gray3f);
                text-align: center;
                font-size: 1.4rem;
                font-weight: 600;
                &.active,
                &:hover { 
                    background: var(--blue00);
                    color: var(--white);
                }
            }
        }
    }
}

.slick-arrow { 
    font-size: 0;
}
.slick-dots { 
    display: flex !important;
    justify-content: center;
    align-items: center;
    width: calc(100% - 31.7rem);
    position: absolute;
    bottom: 4rem;
    left: 0;
    z-index: 200;
    gap: .9rem;
    @media screen and (width < 1300px) {
        width: 100%;
    }
    li { 
        button { 
            width: .6rem;
            height: .6rem;
            background: var(--white);
            font-size: 0;
            border-radius: 100%;
        }
        &.slick-active { 
            button { 
               
                background: var(--orangeff);
               
            }
        }
    }
}

