.ad-banner { 
    position: fixed;
    top: 10rem;
    right: 3rem;
    max-width: 15rem;
    z-index: 300;
    @media screen and (width < 1300px) {
        display: none;
    }
    .youtube-wrap { 
        img { 
            width: 100%;
        }
        .info { 
            width: 100%;
            margin-top: -3px;
            
        }
    }
    .business-card { 
        margin-top: 1.6rem;
        padding: 2rem 1.6rem;
        background: var(--grayf4);
        .profile { 
            width: 8.8rem;
            height: 8.8rem;
            border-radius: 100%;
            background: var(--grayd9);
            margin: 0 auto;
            overflow: hidden;
            
            img { 
                display: block;
                width: 11.4rem;
                height: 11.4rem;
                border-radius: 100%;
                object-fit: cover;
            }
        }
    }
}