:root {
    --black00 : #242730;
    --black2d : #2d2d2d;
    --black1e : #1E1E1E;
    --black19 : #19202D;
    --navy05 : #051277;
    --blue00 : #001DFF;
    --orangeff : #FF4E13;
    --orangeffd : #FFDDD1;
    --gray2d : #2D2D2D;
    --green32 : #32BC16;
    --gray3f : #3F5E72;
    --gray6a : #6A7A85;
    --gray69 : #696969;
    --gray75 : #757575;
    --graya7 : #A7A7A7;
    --grayb5 : #B5BFC5;
    --grayc8 : #C8D6DF;
    --grayd9 : #d9d9d9;
    --graydd : #dddddd;
    --grayf0 : #F0F1F6;
    --grayf4 : #F4F4F4;
    --white : #fff;
}

$img-path: "/images/";


